<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Joan Clarke</h1>
    <img src="/images/joan-clarke.jpg" alt="">
    <p>Joan Elisabeth Lowther Clarke was born on 24 June 1917 in West Norwood, London, England. She was the youngest child of Dorothy (née Fulford) and the Revd William Kemp Lowther Clarke, a clergyman. She had three brothers and one sister.[3]

        Clarke attended Dulwich High School for Girls in south London and won a scholarship in 1936, to attend Newnham College, Cambridge, where she gained a double first degree in mathematics and was a Wrangler.[4][5] She was denied a full degree, as until 1948 Cambridge awarded these only to male.[1]
        
        Clarke's mathematical abilities were first discovered by Gordon Welchman, in an undergraduate Geometry class at Cambridge. Welchman was one of the top four mathematicians to be recruited in 1939 to supervise decoding operations at Bletchley Park. After noticing Clarke's mathematical abilities he recruited her to join him at Bletchley Park and be a part of the 'Government Code and Cypher School' (GCCS).[citation needed]
        
        The GCCS started up in 1939 with a single purpose: that of breaking the German Enigma Code. The Enigma was a machine invented by the Germans to encrypt their messages; they strongly believed their code was unbreakable. Clarke first arrived at Bletchley Park on 17 June 1940. She was initially placed in an all-women group, referred to as "The Girls", who mainly did routine clerical work. At this time, cryptology was not considered a job for a woman in England. According to Clarke, she knew of only one other female cryptologist working at Bletchley Park.</p>
    
</body>
</html>