<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>"TRABAJO PRACTICO HEROES DE DIGITAL HOUSE"</h1>
    <img src="images/DG.png" alt="">
    <h2>SALUDEMOS A LOS PRECURSORES DE LA TECNOLOGIA QUE TEMOS EN LA ACTUALIDAD!!</h2>
    <ol><a href='babbage'>Charles Babbage</a>
    <a href="berners-lee">Tim Berners-Lee</a>
    <a href="clarke">Joane Clarke</a>
    <a href="hamilton">Margaret Hamilton</a>
    <a href="hopper">Grace Murray Hopper</a>
    <a href="lovelace">Ada Lovelace</a>
    <a href="turing">Alan Turing</a></ol>
   
</body>
</html>